/***** Home *****/
header{
    background-color: #EEF0ED;
    padding: 10px;
}
.navBarHeader{
    background-color: #ffffff;
    border-radius: 2px;
    margin: 2% 5% 2% 5%;
}
.navBar li{
    display:block;
    float:left;
    padding:0 10px;
    text-align: center;
}
.navBar li a {
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    float: left;
    padding: 10px;
    color: #747474;
    font-weight: bold;
}

*, *::before, *::after {
    box-sizing: border-box;
    color: #747474;
}


.iconCart{
    margin-left: 70%;
    position: relative;
    text-align: center;
    padding-top: 10px;
}
.iconCart p{
    display: inline-block;
    padding-right: 10px;
}
.iconCart img{
    width: 40px;
    height: 30px;
    margin-left: 5px;
}

.btn-product-select{
    width: 50px;
}


a, a:hover{
    text-decoration:none;
    cursor: pointer;
}
.card-deck h5, h5:hover{
    color: #747474;
}
.comprar{
    padding: 10px 30px 10px 30px;
}
 .card-body{
     min-height: 220px;
 }

