/***** Home *****/
.navBarHeader{
    height: 60px;
    background-color: #2175bc;
    line-height: 30px;
}
.navBar li{
    display:block;
    float:left;
    padding:0 10px;
    text-align: center;
}
.navBar li a {
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    color: #fff;
}

.navBar li a:hover {
    background-color: #2586d7;
    padding-bottom: 12px;
}

.iconCart{
    width: 40px;
    height: 30px;
    margin-top: 12px;
    margin-left: 63%;
}

.count{
    display: flex;
    flex-direction: column;
    padding-left: 45%;
    padding-right: 45%;
}


a, a:hover{
    text-decoration:none;
    cursor: pointer;
}
.card-deck h5, h5:hover{
    color: #747474;
}
.comprar{
    padding: 10px 30px 10px 30px;
}
